[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "third_party/folly"]
	path = third_party/folly
	url = https://github.com/facebook/folly
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/gperftools"]
	path = third_party/gperftools
	url = https://github.com/gperftools/gperftools
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third_party/HugeCTR"]
	path = third_party/HugeCTR
	url = https://github.com/NVIDIA/HugeCTR.git
[submodule "third_party/cpptrace"]
	path = third_party/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
[submodule "third_party/jemalloc"]
	path = third_party/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "third_party/liburing"]
	path = third_party/liburing
	url = https://github.com/axboe/liburing.git
[submodule "third_party/spdk"]
	path = third_party/spdk
	url = https://github.com/spdk/spdk.git
[submodule "third_party/brpc"]
	path = third_party/brpc
	url = https://github.com/apache/brpc.git
[submodule "third_party/cityhash"]
	path = third_party/cityhash
	url = https://github.com/google/cityhash.git
[submodule "third_party/gpudirect-nvme"]
	path = third_party/gpudirect-nvme
	url = https://github.com/ZaidQureshi/bam
[submodule "third_party/faster"]
	path = third_party/faster
	url = https://github.com/microsoft/FASTER.git
